.home_section{
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgb(199, 199, 199);
    margin-bottom: 10px;
}

