.shipping-form-container{
    max-width: 500px;
    margin: auto;
    transform: translateY(15%);
    margin-bottom: 150px;
}


.continue-btn {
    background-color: #f0c040;
    border: 1px solid #717070; /* Add a 1px black border */
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    outline: none;
    color: #000; /* Set the font color to black */
    transition: background-color 0.3s, color 0.3s; /* Add a transition effect for color change */
  }
  
  .continue-btn:hover {
    background-color: #d8ab00; /* Change to a darker shade of yellow on hover */
    color: #000; /* Font color remains black on hover */
  }

@media(max-width: 900px){
    .shipping-form-container{
        transform: translateY(2%);
    }
}